
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #E5E5E5;
}
/* -------------------HEADER-------------------------- */

header{
    display: flex;
    background-color:#222222;
    height: 100px;
    width: 100%;
    box-shadow: 4px 0 10px black;
    justify-content: space-between;
}
/* ----------------------logo-------------------- */
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    height: 90px;
    width: 90px;
    margin-left: 30px;

}

h1{
    font-size: 25px;
    color: red;
    margin-left: 10px;
}
h1 span{
    color: green;
}
h1 .simbol{
    color: white;
}

/* -----------------------------MENU-------------------- */
.menu{
    display: flex;
    align-items: center;
    margin-right: 25px;
}

ul{
    list-style: none;
}
ul li{
    display: inline-block;
    margin-right: 25px;
    padding: 10px;
    font-size: 20px;
}

ul li a{
    text-decoration: none;
    color: white;
}

/* ---------------------MAIN-------------------------- */

main{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.delivery{
    border-radius: 10px;
    background-image: url(../img/delivery.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 35%;
    height: 350px;
}

.delivery h2{
    color:red;
    padding:20px;
}
.delivery h2 span{
    color: white;
}

/* ----------------Podio de pizas------------ */

.podio{
    width: 35%;
    height: 350px;
    background-color: white;
    border-radius: 10px;
}


.podio h2{
    color:red;
    text-align: center;
}

.contenedor{
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    height: 250px;
    
}
.podio-top{
    width: 50%;
}
.contenedor ol h3{
   padding-left: 30px;
   padding-bottom: 20px;
}

.contenedor ol li{
   padding: 5px 5px;
   margin-left: 30px;
}

.imagen-podio{
    text-align: center;
    width: 50%;
}



/* -----------------FOOTER---------------------- */

footer {
    background-color: #222222;
    height: 150px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.menu-footer ul{
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
}

.menu-footer ul li{
    padding: 4px;
    margin-left: 15px;
}

footer .logo {
    margin-right: 50px;
}


