
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
}

:root{
    --primer-color:#222222; 
    --segundo-color:#F0A83E;
    --tercer-color:#3C2313;
    --cuarto-color:#FFFFFF;
}

.ofertas{
    background-color: var(--primer-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--cuarto-color)
}

.ofertas>div>ul{
    display: flex;
    padding-right: 20px;
}
.ofertas li{
    margin-right: 20px;
    list-style: none;
    padding: 5px;
}

/* ******HEADER****** */

header{
    background-color: var(--segundo-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

header>h1{
    color: var(--primer-color);
}
header>h1 span{
    color: var(--cuarto-color);
}

img{
    height: 20px;
    width: 20px;
}

ul{
    list-style: none;
}

ul li{
    display: inline-block;
    padding-right: 20px;
    
}


nav{
    margin-right: 40px;
}

a{
    text-decoration: none;
    color: var(--cuarto-color);
}
a:hover{
    color: #3C2313;
}
.fa-paw{
    padding-right: 3px;
}

.hamburguesa{
    display: none;
}

/* *******MAIN********* */

.img-principal{
    background-image: url(../img/foto.png);
    background-size: cover;
    width: 100%;
    height: 490px;
}

.banner{
    width: 50%;
    text-align: center;
    margin-left: auto;
    position: relative;
    top: 200px;
}

.banner>h2{
    background-color: var(--cuarto-color);
    color: var(--tercer-color);
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 0px;

}

.banner>p{
    color:var(--tercer-color);
    font-size: 20px;
    padding: 20px 0px;

}

.banner>input{
    background-color: var(--segundo-color);
    border-bottom: transparent;
    color: var(--cuarto-color);
    width: 190px;
    height: 50px;
}

.productos-destacados{
   text-align: center;
   margin-top: 30px;

}
.productos-destacados>img{
    width: 90px;
    height: 90px;
}
.productos-destacados>h2{
    color:var(--tercer-color);
    font-size: 40px;
}
.productos-destacados>ul{
    color:var(--primer-color)
}


.container-3{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 15px;
}


.churrasco{
    background-image: url(../img/churrasquito.png);
    width: 25%;
    height: 350px;
    background-size: cover;
    background-position: center;
    
}
.comedero{
    background-image: url(../img/comedero.png);
    width: 25%;
    height: 350px;
    background-size: cover;
    background-position: center;
}
.hueso{
    background-image: url(../img/Huesito.png);
    width: 25%;
    height: 350px;
    background-size: cover;
    background-position: center;
}

.texto-productos{
    position: relative;
    top:300px;
    color:var(--tercer-color);
    font-size:15px;
    font-weight: 600;
}

.precio{
    color: var(--segundo-color);
}

main form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    gap: 10px;
}
main form h2{
    color: var(--tercer-color);
    font-size: 25px;
    font-weight: bold;
}

main form>input{
    background-color: var(--tercer-color);
    width: 340px;
    height: 40px;
    border: none;
    border-radius: 15px;

}
input[type="text" i] {
    padding: 1px 10px;
}

.btns input{
    width: 110px;
    height: 40px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    color: var(--cuarto-color);
}

.btn1{
    background-color: #8a8787;
}

.btn2{
    background-color: var(--segundo-color);
}

.footer-email{
    border: none;
    border-radius: 15px;
    height: 40px;
    width: 270px;
    padding-left: 10px;
}

.footer-btn{
    width: 80px;
    height: 35px;
    border-radius: 15px;
    border: none;
    background: rgba(60, 35, 19, 1);
    color: var(--cuarto-color);
    font-size: 12px;
    font-weight: 700;
    margin-right: 40px;
}

/* Aqui comienza el FOOTER */

footer{
    margin-top: 100px;
}

.suscripcion-footer{
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: var(--segundo-color);
    align-items: center;
}
.suscripcion-footer h3{
    margin-left: 10px;
    font-size: 25px;
    color: white;
}
.fa-envelope-open{
    font-size: 30px;
    color: var(--cuarto-color);
}


.container-footer{
    display: flex;
    justify-content: space-between;
    background-color: var(--tercer-color);
    align-items: center;
    padding: 20px 0px;
}

.datos-footer{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.logo-footer{
    width: 30%;
}
.contactos{
    display: flex;
    width: 40%;
    gap: 18px;
    padding-top: 40px;
    padding-left: 40px;
    color: var(--cuarto-color);
}

.contactos .fas{
    font-size: 2.4rem;
}
.texto-datos p{
    font-size: 9px;
}
.texto-datos h5{
    font-size: 20px;
    font-weight: 500;
}

.logo-footer>h2{
    color:var(--cuarto-color);
    font-weight: bold;
    
}

.logo-footer>h2>span {
    color: var(--segundo-color);
}

.parrafo-footer{
    color: var(--cuarto-color);
    background-color: var(--primer-color);
    text-align: center;
    padding: 5px 0px;
}


@media screen and (max-width:760px){
    .ofertas{
        display: none;
    }
    .container-3{
       flex-direction: column;
   }
   .banner{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
   }

   .churrasco,.comedero,.hueso{
       width: 50%;
       margin-left: auto;
       margin-right: auto;
   }
   nav{
       display: none;
   }
   .hamburguesa{
       display: block;
       color:#3C2313;
       font-size: 30px;
       margin-right: 15%;
   }
   .container-footer{
       flex-direction: column;
   }
   .datos-footer{
       order: 1;
   }
   .logo-footer{
       width: unset;
       
   }
   
}



@media screen and (max-width: 480px){
    
    .datos-footer{
        width: unset;
    }
}




/* .contenedor-1-footer{
    display: flex;
    background-color: #F0A83E;
    justify-content: space-between;
    padding: 30px;
}
.fa-envelope{
    display: inline-block;
    padding-right: 5px;
    font-size: 20px;
}
.contenedor-1-footer h3{
    color: #ffffff;
    font-size: 20px;
}

.input-footer{
    margin-right: 50px;
}

input {
    border-radius: 10px;
    outline: none;
    padding: 8px;
   
}

input[type="submit"] {
    background-color: #3C2313;
    border: 2px solid #000;
    color: #fff;
} */
